name: Flagfile Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
    - name: Build ff CLI
      run: cargo build -p flagfile-cli --bin ff --release
    - name: Run Flagfile tests
      run: ./target/release/ff test
